body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  background-image: url('./project3_bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#root {
}

.header {
  position: absolute;
  top: 0px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 0px;
}

.navbar {
  margin-right: 40px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_page
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}



.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.login-box h2 {
  color: '#f57369';
}

/* .login-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #3ca7c2;
} */

.login-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #3ca7c2;
  margin: 0 auto;
  margin-top: 10%;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}



.modal {
  display: none;  
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}